__pycache__/
*.pyc
*.log
.env
archive/
test_*.py
*test.py
verify_remote.py
enable_actions.py
setup_server_6.ps1
token.txt
temp_numbers.txt
numbers.txt
proxies.txt
*.backup
*.pem
.DS_Store
.venv/
fb-heroku-otp/
